.header {
  padding: 79px 20px 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #c6c2de;
}

.header--decor {
  margin-bottom: 20px;
}

.header__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-text-2);
}

.header__total {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-text-2);
}

.header__total-number {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-button);
}

@media (max-width: 575px) {
  .header {
    padding-top: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
}
