:root {
  --color-background-0: #e5e5e5;
  --color-background-1: #ffffff;
  --color-background-2: #f2f0f9;
  --color-background-3: #f4f2ff;
  --color-text-1: #25213b;
  --color-text-2: #6e6893;
  --color-button: #6d5bd0;
  --color-line: #d9d5ec;
}
